<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Buffers-signed" version="0.2.2" targetFramework="net452" />
  <package id="DotNetty.Codecs" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Codecs.Mqtt" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Codecs.Mqtt-signed" version="0.2.2" targetFramework="net452" />
  <package id="DotNetty.Codecs-signed" version="0.2.2" targetFramework="net452" />
  <package id="DotNetty.Common" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Common-signed" version="0.2.2" targetFramework="net452" />
  <package id="DotNetty.Handlers" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Handlers-signed" version="0.2.2" targetFramework="net452" />
  <package id="DotNetty.Transport" version="0.3.2" targetFramework="net452" />
  <package id="DotNetty.Transport-signed" version="0.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Azure.Amqp" version="2.5.10" targetFramework="net452" />
  <package id="Microsoft.Azure.Devices" version="1.37.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Devices.Client" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.30.1" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net452" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net452" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net452" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net452" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.5" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Validation" version="2.2.8" targetFramework="net452" />
</packages>